@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover, i:hover {
  color: white;
  background-color: #28527a;
}

.main__header, .main__footer {
  height: 10vh;
  background-color: #105555;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.main__header *, .main__footer * {
  font-family: "Dancing Script", cursive;
  color: #fafafa;
}
.main__header .header__title, .main__header .footer__title, .main__footer .header__title, .main__footer .footer__title {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__header .header__items, .main__header .footer__items, .main__footer .header__items, .main__footer .footer__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main__header .header__items .header__link, .main__header .header__items .footer__link, .main__header .footer__items .header__link, .main__header .footer__items .footer__link, .main__footer .header__items .header__link, .main__footer .header__items .footer__link, .main__footer .footer__items .header__link, .main__footer .footer__items .footer__link {
  text-decoration: none;
  font-size: 1.5rem;
}
.main__header .header__items .header__link--hover:hover, .main__header .header__items .footer__link--hover:hover, .main__header .footer__items .header__link--hover:hover, .main__header .footer__items .footer__link--hover:hover, .main__footer .header__items .header__link--hover:hover, .main__footer .header__items .footer__link--hover:hover, .main__footer .footer__items .header__link--hover:hover, .main__footer .footer__items .footer__link--hover:hover {
  color: black;
  font-size: 25px;
}

.main__section * {
  font-family: "Roboto", sans-serif;
  color: #105555;
}
.main__section .section__box {
  background-color: #c2e0e0;
  border: #28527a;
  border: 0.1rem solid #105555;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main__section .section__box .section__header {
  font-size: 1.5rem;
  text-align: center;
}
.main__section .section__box .about__me {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__section .section__box .about__me .intro__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main__section .section__box .about__me .intro__details * {
  font-family: "Dancing Script", cursive;
}
.main__section .section__box .about__me .intro__details .works__button {
  background-color: #f0a500;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.main__section .section__box .about__me .intro__details .works__button--hover:hover {
  color: black;
  font-size: 20px;
}
.main__section .section__box .about__me .profile__pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__section .section__box .about__me .profile__pic .profile__image {
  border-radius: 100%;
  border: 2px solid #fafafa;
  height: 90%;
  width: 90%;
}
.main__section #tech-skills {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}
.main__section #tech-skills .skills__text {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.main__section #tech-skills .skills__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__section #tech-skills .skills__tools .fa-brands, .main__section #tech-skills .skills__tools .fa-solid {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__section #my-projects {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.main__section #my-projects .card__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
.main__section #my-projects .card__list .card__project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #105555;
  border-radius: 5px;
}
.main__section #my-projects .card__list .card__project .project__desc {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}
.main__section #my-projects .card__list .card__project .project__img {
  height: 60%;
  width: 70%;
}
.main__section #my-projects .card__list .card__project .project__link {
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 883px) {
  .main__header, .main__footer {
    height: 10vh;
    background-color: #105555;
    display: grid;
    grid-template-rows: 1fr 4fr;
  }
  .main__header *, .main__footer * {
    font-family: "Dancing Script", cursive;
    color: #fafafa;
  }
  .main__header .header__title, .main__header .footer__title, .main__footer .header__title, .main__footer .footer__title {
    font-size: 1.5rem;
  }
  .main__header .header__items, .main__header .footer__items, .main__footer .header__items, .main__footer .footer__items {
    font-size: 1rem;
  }
}/*# sourceMappingURL=styles.css.map */