@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body:"Roboto", sans-serif;
$font-display: "Dancing Script", cursive;

$color-primary: #28527a;
$color-secondary: #f0a500;
$color-black: #333333;
$color-white: #fafafa;
$color-background: 	#105555;
$color-background-section: 	#c2e0e0;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited{
    text-decoration: none;
}
a:hover, i:hover{
    color: white;
    background-color:  $color-primary;
}

.main__header, .main__footer{
    height: 10vh;
    background-color: $color-background;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    *{
        font-family: $font-display;
        color: $color-white;
    }
    .header__title, .footer__title{
        font-size: 3rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__items, .footer__items{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .header__link, .footer__link{
            text-decoration: none;
            font-size: 1.5rem;
        }
        .header__link--hover:hover, .footer__link--hover:hover {
            color: black;
            font-size: 25px;
        }
    }
}

.main__section{
    *{
        font-family: $font-body;
        color: $color-background;
    }
    .section__box{
        background-color: $color-background-section;
        border: #28527a;
        border: 0.1rem solid $color-background;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .section__header{
            font-size: 1.5rem;
            text-align: center;
        }
        .about__me{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .intro__details{
                *{
                    font-family: $font-display;
                }
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .works__button{
                    background-color: #f0a500;
                    font-size: 15px;
                    font-weight: bold;
                    padding: 20px;
                    border: 1px solid black;
                    border-radius: 10px;
                }
                .works__button--hover:hover {
                    color: black;
                    font-size: 20px;
                }
                
            }
            .profile__pic{
                display: flex;
                justify-content: center;
                align-items: center;
                .profile__image{
                    border-radius: 100%;
                    border: 2px solid $color-white;
                    height: 90%;
                    width: 90%;
                }
            }
        }
    }
    #tech-skills{
        display: grid;
        grid-template-rows: 1fr 2fr 2fr;
        .skills__text{
            font-family: $font-display;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }
        .skills__tools{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .fa-brands, .fa-solid{
                padding: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

        }
    }
    #my-projects{
        display: grid;
        grid-template-rows: 1fr 4fr;
        .card__list{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5px; 
            .card__project {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border: 2px solid $color-background;
                border-radius: 5px;
                .project__desc{
                    font-family: $font-display;
                    font-size: 2rem;
                }
                .project__img{
                    height: 60%;
                    width: 70%;
                }
                .project__link{
                    font-weight: bolder;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }

            }
        }
    }
}
@media screen and (max-width: 883px){
    .main__header, .main__footer{
        height: 10vh;
        background-color: $color-background;
        display: grid;
        grid-template-rows: 1fr 4fr;
        
        *{
            font-family: $font-display;
            color: $color-white;
        }
        .header__title, .footer__title{
            font-size: 1.5rem;
        }
        .header__items, .footer__items{
            font-size: 1rem;
        }
    }
}
