@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

$font-body:"Roboto", sans-serif;
$font-display: "Dancing Script", cursive;

$color-secondary: #E7DADA;
$color-black: #333333;
$color-white: #fafafa;
$color-background: 	#623B5A;
$color-background-section: 	#c2e0e0;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited{
    text-decoration: none;
}
a:hover, i:hover{
    background-color:  $color-secondary;
}

.header, .footer{
    height: 10vh;
    background-color: $color-background;
    display: grid;
    grid-template-columns: 1fr 3fr;
    
    *{
        font-family: $font-body;
        color: $color-white;
        padding: 20px;
    }
    &__title, &__title{
        font-size: 3rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__items, &__items{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__link, .footer__link{
            text-decoration: none;
            font-size: 1.5rem;
        }
        &__link--hover:hover, .footer__link--hover:hover {
            color: $color-background;
        }
    }
    
}

.section{
    margin: 10px;
    *{
        font-family: $font-body;
        color: $color-background;
    }
    &__box{
        margin: 10px;
        background-color: $color-white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &__header{
            font-size: 1.5rem;
            text-align: center;
        }
        .about__me{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .intro__details{
                *{
                    font-family: $font-body;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top:75px;
                .works__button{
                    color: $color-white;
                    background-color: $color-background;
                    font-size: 20px;
                    font-weight: bold;
                    padding: 20px;
                    border: 1px solid $color-white;
                    border-radius: 10px;
                    box-shadow: 10px 5px 5px  $color-secondary ;
                }
                .works__button--hover:hover{
                    background-color:  $color-secondary;
                    color: $color-background;
                }
                
            }
            .profile__pic{
                display: flex;
                justify-content: center;
                align-items: center;
                .profile__image{
                    border-radius: 5%;
                    border: 2px solid $color-white;
                    height: 87%;
                    width: 72%;
                    box-shadow: 10px 5px 5px $color-secondary ;
                }
            }
        }
    }
    #tech-skills{
        display: grid;
        grid-template-rows: 1fr 2fr 2fr;
        .skills__text{
            font-family: $font-body;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
        }
        .skills__tools{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .fa-brands, .fa-solid{
                padding: 20px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

        }
    }
    #my-projects{
        display: grid;
        grid-template-rows: 1fr 4fr;
        .card__list{
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px; 
            .card__project {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                border: 2px solid $color-secondary;
                border-radius: 5px;
                box-shadow: 5px 2px 2px $color-secondary;
                .project__desc{
                    font-family: $font-body;
                    font-size: 2rem;
                }
                .project__img{
                    height: 70%;
                    width: 50%;
                }
                .project__link{
                    font-weight: bolder;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }

            }
        }
    }
}
@media screen and (max-width: 880px){
    .header, .footer{
        display: none;
    }
}

