@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover, i:hover {
  background-color: #E7DADA;
}

.header, .footer {
  height: 10vh;
  background-color: #623B5A;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.header *, .footer * {
  font-family: "Roboto", sans-serif;
  color: #fafafa;
}
.header__title, .header__title, .footer__title, .footer__title {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__items, .header__items, .footer__items, .footer__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__items__link, .header__items .footer__link, .header__items__link, .header__items .footer__link, .footer__items__link, .footer__items .footer__link, .footer__items__link, .footer__items .footer__link {
  text-decoration: none;
  font-size: 1.5rem;
}
.header__items__link--hover:hover, .header__items .footer__link--hover:hover, .header__items__link--hover:hover, .header__items .footer__link--hover:hover, .footer__items__link--hover:hover, .footer__items .footer__link--hover:hover, .footer__items__link--hover:hover, .footer__items .footer__link--hover:hover {
  color: black;
  font-size: 25px;
  padding: 10px;
}

.section {
  margin: 10px;
}
.section * {
  font-family: "Roboto", sans-serif;
  color: #623B5A;
}
.section__box {
  margin: 10px;
  background-color: #fafafa;
  border: #28527a;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section__box__header {
  font-size: 1.5rem;
  text-align: center;
}
.section__box .about__me {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section__box .about__me .intro__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
}
.section__box .about__me .intro__details * {
  font-family: "Roboto", sans-serif;
}
.section__box .about__me .intro__details .works__button {
  color: #fafafa;
  background-color: #623B5A;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  border: 1px solid #fafafa;
  border-radius: 10px;
  box-shadow: 10px 5px 5px #E7DADA;
}
.section__box .about__me .intro__details .works__button--hover:hover {
  background-color: #E7DADA;
  color: #623B5A;
  box-shadow: 10px 5px 5px #28527a;
}
.section__box .about__me .profile__pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__box .about__me .profile__pic .profile__image {
  border-radius: 5%;
  border: 2px solid #fafafa;
  height: 87%;
  width: 72%;
  box-shadow: 10px 5px 5px #E7DADA;
}
.section #tech-skills {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}
.section #tech-skills .skills__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.section #tech-skills .skills__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section #tech-skills .skills__tools .fa-brands, .section #tech-skills .skills__tools .fa-solid {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section #my-projects {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.section #my-projects .card__list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.section #my-projects .card__list .card__project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #623B5A;
  border-radius: 5px;
  box-shadow: 5px 2px 2px #E7DADA;
}
.section #my-projects .card__list .card__project .project__desc {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}
.section #my-projects .card__list .card__project .project__img {
  height: 70%;
  width: 50%;
}
.section #my-projects .card__list .card__project .project__link {
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .header, .footer {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */