@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #333333;
}

a:link,
a:visited {
  text-decoration: none;
}

header {
  border: 2px solid #fafafa;
  height: 10vh;
  background-color: #008b8b;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
header p {
  font-family: "Dancing Script", cursive;
  color: #fafafa;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header nav a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
header nav a:hover {
  color: black;
  font-size: 20px;
}

#profile-intro {
  border: 2px solid #fafafa;
  background-color: #c2e0e0;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
#profile-intro h3 {
  color: #28527a;
  text-align: center;
}
#profile-intro div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
#profile-intro div .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#profile-intro div .intro p {
  font-family: "Dancing Script", cursive;
  font-size: 15px;
  font-weight: bold;
}
#profile-intro div .intro h1 {
  font-family: "Roboto", sans-serif;
}
#profile-intro div .intro a {
  background-color: #f0a500;
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
}
#profile-intro div .intro a:hover {
  color: white;
  font-size: 20px;
  background-color: #28527a;
}
#profile-intro div #profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
#profile-intro div #profile-pic img {
  border-radius: 100px;
  border: 2px solid #fafafa;
  height: 80%;
  width: 30%;
}

#tech-skills {
  border: 2px solid #fafafa;
  background-color: #c2e0e0;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}
#tech-skills h3 {
  color: #28527a;
  text-align: center;
}
#tech-skills p {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
#tech-skills .skills-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tech-skills .skills-tools i {
  height: 500%;
  width: 500%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#my-projects {
  border: 2px solid #fafafa;
  background-color: #c2e0e0;
  display: grid;
  grid-template-rows: 1fr 4fr;
}
#my-projects h3 {
  color: #28527a;
  text-align: center;
}
#my-projects .cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
#my-projects .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 5%;
  margin: 3%;
}
#my-projects .cards .card img {
  height: 50%;
  width: 25%;
}